body {
  background-color: #ebecf1;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 49%;
  margin-left: 0;
}

h1 {
  color: #0f3460;
}

h3 {
  color: #0f3460;
}
